body {
    justify-content: center;
    margin: 0;
    width: 100%;
    max-width: 1920px;
    min-height: 100vh; /* Garante que o body ocupe pelo menos a altura da viewport */
    background-color: rgb(132, 169, 140);
    color: rgb(125, 155, 124);
}

a{
    text-decoration: none;
    color: rgb(255, 255, 0);
}

a:hover{
    font-weight: bolder;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
#main{
    padding: 10px;
}

#main-cabecalho {
    display: flex;
    align-items: center;
    margin-bottom: 1px;
}

#main-cabecalho img {
    width: 250px;
    height: auto;
    padding: 2px;
}

#main-cabecalho h1 {
    font-size: 45px;
}

#main-corpo{
    font-size: 25px;
}



