{% load static %}


<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <title>DSWeb 2024.1</title>
    </head>
    <body>
        <h1>Disciplina DSWeb 2024.1</h1>
        <div class = "meio">
            <div class = "center">
        <h3>Aplicações Criadas:</h3>
        <ol>
            <li><a href="/enquetes/">
                Aplicação de Enquetes
            </a></li>
            <li><a href="/bazar/"</li>
                Bazar de caridade
            </a>
        </ol>
            </div>
        </div>
    </body>
</html>