{% load static %}

<html>
    <head>
        <title>App Enquetes</title>
        <link rel="stylesheet" type="text/css" href="{% static 'enquetes/css/apps.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'enquetes/css/estilo.css' %}">
    </head>

<body>
    <div id="main" class="borda0">
        <div id="main-cabecalho" class="borda0">
            <img src="{% static 'enquetes/img/dswebnot.png' %}" alt="">
            <h1>Disciplina DsWeb 2024.1</h1>
        </div>
        <div id="detalhes-corpo" class="borda0">
            <div id="primeira-linha">
                <img src="{% static 'enquetes/img/aluno.png' %}" alt="prancheta">
                <h2>
                    Aluno: Felipe da Costa Ferreira
                </h2>
            </div>
            <div id="segunda-linha">
                <img src="{% static 'enquetes/img/professor.png' %}" alt="ideia">
                <h2>Professor: Fellipe Aleixo</h2>
            </div>
        </div>
        <div id="main-corpo">
            <h2>Enquetes criadas: </h2>
            {% if lista_perguntas %}
            <ul>
                {% for p in lista_perguntas %}
                    <li>
                        <a href="{% url 'enquetes:detalhes' p.id %}">
                        {{p.texto}}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            {% else %}
            <h3>Nenhuma enquete cadastrada até o momento! </h3>
            {% endif %}
        </div>
    </div>

</body>

</html>
